/* Navbar */
body {
  margin: 0;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

#navbar {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #333;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #04AA6D;
  color: white;
}

.content {
  padding: 16px;
}
/*Cuerpo de la pagina*/
html, body {
  height: 100%; 
  margin: 0;
  padding: 0;
}
main {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

.character {
  max-width: 800px;
  margin: auto;
}

.character img {
  width: 100%;
  height: auto;
  max-width: 100;
  display: block;
}

.row {
  display:flex;
}

.column {
  float:left;
  padding:10px;
}

.left {
  width: 25%;
}

.right {
  width:75%;
}

/*Pie de pagina*/
footer {
  text-align: center;
  padding: 1rem;
  background-color: #333;
  color: #fff;
  margin-top: 2rem;
}